<% provide(:title, 'About') %>
<h1>About Dunekacke</h1>
<p>
  This website is meant to help groups of people to manage their music 
  files for various sessions.<br/>
  The Name “Dunekacke” means “DudelrUdels Neue Eigene Komplettsammlung Aller sChönen KompositionEn”.
</p>